<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/aboutus.css">
</head>
<style>

</style>
<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html">
            <img src="../assets/images/ArchDevLogo.png" alt="ArchDev Tech Logo" id="logo-image" style="max-width: 150px; height: 150px;">
        </a>
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/homepage.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/aboutus.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Button</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Button</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Button</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container content-container">
        <div class="row">
            <div class="col-md-6 content col text-center">
                <h2 class="mb-4">About Us</h2>
                <p>
                    ArchDev Technology stands as a beacon of creativity, expertise, and forward-thinking solutions. With a passion for pushing the boundaries of what's possible. ArchDev Technology embarks on a mission to make your vision come true
                </p>
                <p>
                    We are the Web Developers, a passionate duo shaping the digital future.
                </p>
            </div>
            <div class="col-md-6">
                <img src="../assets/images/aboutus.png" alt="Company Image" class="image"> <!-- Replace with your image URL -->
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

<footer class="footer mt-5">
    <div class="container text-center">
        <h4>Follow Us</h4>
        <div class="social-icons mt-3">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>

</html>
