<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - ArchDev Tech</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../css/contactus.css">
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html">
            <img src="../assets/images/ArchDevLogo.png" alt="ArchDev Tech Logo" id="logo-image" style="max-width: 150px; height: 150px;">
        </a>
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html" style="font-weight: bold; color: white;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about_us" style="font-weight: bold; color: white;">About Us</a>
                    </li>
              
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; color: white;">Services</a>
                        <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <a class="dropdown-item" href="service1.html">Terms of Service and Privacy Policy</a>
                            <a class="dropdown-item" href="we_offer.html">What we offer</a>
                        </div>
                    </li>
 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="otherDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; color: white;">Other</a>
                        <div class="dropdown-menu" aria-labelledby="otherDropdown">
                            <a class="dropdown-item" href="ourteam.html">Our Team</a>
                            <a class="dropdown-item" href="contactus.html">Contact Us</a>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <div id="contact-container">
        <h3>Contact Us</h3>
    </div>

    <div class="container">
        <div class="contact-info text-center">
           <p><strong>Follow Us</strong></p><hr>
            <a href="index.html" target="_blank" class="text-dark">
                <i class="fab fa-facebook-square fa-2x mr-3"></i>
            </a>
            <a href="index.html" target="_blank" class="text-dark">
                <i class="fab fa-twitter-square fa-2x mr-3"></i>
            </a>
            <a href="index.html" target="_blank" class="text-dark">
                <i class="fab fa-instagram-square fa-2x mr-3"></i>
            </a>
            <div class="row">
                <div class="col-md-6">
                    <p><strong style="color: black;">Facebook: </strong> <a href="https://www.facebook.com/profile.php?id=100004365555819" class="text-light">Arjay Lalas</a></p>
                    <p><strong style="color: black;">Email: </strong> <a href="mailto:lalasarjay03@gmail.com" class="text-light">lalasarjay03@gmail.com</a></p>
                    <p><strong style="color: black;">Phone: </strong> 09052655799</p>
                </div>
                <div class="col-md-6">
                    <p><strong style="color: black;">Facebook: </strong> <a href="https://www.facebook.com/ryandave.songalla" class="text-light">Ryan Dave Songalla</a></p>
                    <p><strong style="color: black;">Email: </strong> <a href="mailto:ryandave@gmail.com" class="text-light">ryandave@gmail.com</a></p>
                    <p><strong style="color: black;">Phone: </strong> 09052655799</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; Copyright <strong>ArchDev Technology</strong>. &nbsp; All Rights Reserved.</p>
                    <p>Created by ArchDev</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
